@import 'App';

#about.page {

  .page-body {

    background-color: $color-gray;

    .section-body {

      h3 {
        padding-bottom: $baseline-height;
        border-bottom: 2px solid rgba(0, 0, 0, 0.24);
      }

      .col-body {
        padding-top: $baseline-height;
      }

      .summary {
        @include type-summary;
        @include columns(1);
      }

      .about-data {
        @include columns(1);
      }

      .about-team {
        @include columns(1);

        .subtitle {
          @include type-h5;
          &:not(:first-child) {
            margin-top: $baseline-height;
          }
        }
      }
    }
  }
}
