@import 'normalize.scss';

//---------------------- COLOR -----------------------//

$color-black: #333;
$color-gray: #ECECEC;
$color-0: #4422B3;
$color-1: #FA8200;
$color-2: #FF91E6;
$color-3: #009DF7;

//---------------------- LAYOUT ----------------------//
$container-max-width: 1200px;
$col-gutter-small: 18px;
$col-gutter-large: 36px;

$baseline-height: 12px;

$elements-margin: $baseline-height;
$elements-padding: $baseline-height;

$icon-size: 32px;

.row {
  width: 100%;
}

@mixin columns($number) {
  display: inline-block;
  vertical-align: top;

  &:not(:first-child) {
    margin-left: $col-gutter-large;
    @include for-phone-down {
      margin-left: $col-gutter-small;
    };
  }

  @if $number == 1 {
    width: calc((100% - 2*#{$col-gutter-large}) * 1/3);

  } @else if $number == 2 {
    width: calc((100% - 2*#{$col-gutter-large}) * 2/3 + 1*#{$col-gutter-large});

  } @else if $number == 3 {
    width: 100%;
  }

  @include for-phone-down {
    width: 100%;
    &:not(:first-child) {
      margin-left: 0;
      margin-top: $baseline-height * 2;
    }
  };
}

//-------------------- TYPOGRAPHY --------------------//
$font-sans: 'Heebo', sans-serif;
$font-mono: 'Inconsolata', monospace;

@mixin type-h1 {

  @include for-phone-down {

  }
}

@mixin type-h2 {


}

@mixin type-h3 {
  font-size: 21px;
  font-family: $font-sans;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@mixin type-h4 {
  font-size: 14px;
  font-family: $font-sans;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;

  @include for-phone-down {

  }
}

@mixin type-h5 {
  font-size: 12px;
  // line-height: $baseline-height*1.5;
  font-family: $font-sans;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;

}

@mixin type-summary {
  font-size: 21px;
  line-height: $baseline-height*3;
  font-family: $font-sans;
  font-weight: 400;
}

@mixin type-intro {
  font-size: 16px;
  line-height: $baseline-height*2;
  font-family: $font-sans;
  font-weight: 400;
}

@mixin type-intro {
  font-size: 16px;
  line-height: $baseline-height*2;
  font-family: $font-sans;
  font-weight: 400;
}

@mixin type-body-1 {
  font-size: 14px;
  line-height: $baseline-height*2;
  font-family: $font-mono;
  font-weight: 400;

  @include for-phone-down {
    line-height: $baseline-height * 1.7;
  };
}

@mixin type-body-2 {
  @include type-body-1;
  font-weight: 700;
  @include for-phone-down {
    line-height: $baseline-height * 1.7;
  };
}

@mixin type-small {
  font-size: 11px;
  font-family: $font-mono;
  font-weight: 700;
}

@mixin type-button {
  font-size: 12px;
  font-family: $font-sans;
  font-weight: 900;
  line-height: $baseline-height;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@mixin type-chart-legend {
  font-family: $font-mono;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  fill: $color-0;
  text-transform: uppercase;
}


//-------------------- RESPONSIVE --------------------//

@mixin for-phone-down {
  @media (max-width: 600px) { @content; }
}

@mixin for-tablet-portrait-down {
  @media (max-width: 900px) { @content; }
}

@mixin for-tablet-landscape-down {
  @media (max-width: 1200px) { @content; }
}

@mixin for-desktop-down {
  @media (max-width: 1799px) { @content; }
}

@mixin for-big-desktop-only {
  @media (min-width: 1800px) { @content; }
}


//-------------------- STYLES --------------------//

h1, h2, h3, h4, h5, h6, p, ul, li { margin: 0 };

h3 {
  @include type-h3;
}

h4 {
  @include type-h4;
}

h5 {
  @include type-h5;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

#shiny-disconnected-overlay {
  width: 0;
  height: 0;
}

html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: $color-black;
  @include type-body-1;
  text-align: center;
  background: linear-gradient(123deg, darken($color-0, 10%) 0%, $color-0 100%);
}

b {
  @include type-body-2;
}

*:focus {
  outline: none;
}

a {

  text-decoration: none;
  transition-property: color, background-color;
  transition-duration: 0.25s;
  padding: 0 1px;

  &:link, &:visited {
    color: $color-0;
  }

  &:hover {
    background-color: lighten($color-0, 48%);
  }

  &:active {
    background-color: lighten($color-0, 36%);
  }
}

.hidden {
  display: none;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 100;

  &.header {
    @media (min-width: 600px) {
      display: none;
    }
  }
}

.main-nav {

  top: -1px;
  left: 0;

  .hamburger, .close {
    display: none;
  }

  nav {
    background-color: $color-0;
    color: white;
    width: 100%;
    height: $baseline-height * 3;
    padding: 0 $col-gutter-large;
    text-align: center;
    border-width: 1px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.24);
    box-shadow: 0 4px rgba(0, 0, 0, 0.18);

    display: flex;
    flex-direction: row;
    align-items: center;

    @include type-h5;

    @include for-phone-down {
      padding: 0 $col-gutter-small;
    };

    &:before,
    &:after {
      content: '';
      display: table;
    }

    ul {
      width: $container-max-width;
      max-width: 100%;
      margin: auto;
      text-align: left;
      padding-left: 0;
      list-style: none;
      height: $baseline-height*3;

      li {
        display: inline-block;
        height: $baseline-height*3;
        padding-top: $baseline-height/2;

        &:not(:last-child) {
          margin-right: $elements-margin;
        }

        a {
          color: white;
          background-color: inherit;
          margin: 0 $elements-margin/2;

          &::after {
            content: '';
            display: block;
            background-color: white;
            height: 2px;
            position: relative;
            bottom: 4px;
            left: 50%;
            width: 0;
            transition-property: width, left;
            transition-duration: 0.25s;
          }

          &.active {
            &::after {
              width: 100%;
              left: 0;
            }
          }
        }
      }
    }
  }

  @include for-phone-down {
    position: fixed;
    // top: 0;
    right: 0;
    left: auto;
    width: 100%;
    z-index: 1000;

    .hamburger {
      display: block;
      cursor: pointer;
      width: 22px;
      height: 22px;
      float: right;
      position: absolute;
      top: 7px;
      right: ($col-gutter-small*2 - 22px)/2;
      transition: top 0.25s ease-out;
      background-image: url('../images/hamburger-menu.svg?fill=#FA8200');
      background-repeat: no-repeat;
      background-position: center;

      g {
        stroke: $color-1;
      }
    }

    nav {
      position: absolute;
      z-index: 10;
      top: 0;
      right: 0;
      width: 180px;
      height: 100vh;
      transform: translateX(100%);
      padding: $col-gutter-large;
      padding-right: $col-gutter-large - $elements-padding;
      text-align: right;
      background-color: $color-0;
      transition: transform 0.25s ease-out;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;

      @include for-phone-down {
        padding: $col-gutter-small;
      };

      &.open {
        transform: translateX(0);
        box-shadow: -4px 0 rgba(0, 0, 0, 0.18);
      }

      .close {
        display: block;
        width: 100%;
        cursor: pointer;
        width: 22px;
        height: 22px;
        margin-right: $elements-padding;
        margin-bottom: $elements-padding*2;
        float: right;
        background-image: url('../images/close.svg');
        background-repeat: no-repeat;
        background-position: center;
      }

      ul {
        padding-left: 0;
        list-style: none;
        height: inherit;
        text-align: right;

        li {
          display: block;
          &:not(:last-child) {
            margin-right: 0;
          }
        }

        a {

          @include type-h4;
          cursor: pointer;
          display: inline-block;
          padding: $elements-padding/2  $elements-padding;
          margin: $elements-margin/4 0;
          color: white;

          &:hover {
            background-color: lighten($color-0, 12%);
          }
        }
      }
    }
  };
}

.main-container {
  width: 100%;
  position: relative;
  background-color: white;
  z-index: 10;
  box-shadow: 0 8px rgba(0, 0, 0, 0.24);
}

.page {
  width: 100%;
  margin: 0;
  border: 0;
  text-align: center;
}

.page-header {

  background-color: $color-0;
  color: white;

  width: 100%;
  height: $baseline-height * 3;
  padding: 0 $col-gutter-large;
  text-align: center;
  border-width: 1px 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.24);
  box-shadow: 0 4px rgba(0, 0, 0, 0.18);

  display: flex;
  flex-direction: row;
  align-items: center;

  @include type-h5;

  @include for-phone-down {
    padding: 0 $col-gutter-small;
  };

  &:before,
  &:after {
    content: '';
    display: table;
  }
}

.page-body {
  padding: ($baseline-height*4 + $baseline-height*3) $col-gutter-large $baseline-height*8 $col-gutter-large;
  @include for-phone-down {
    padding: $baseline-height*2 $col-gutter-small $baseline-height*4 $col-gutter-small;
  };
}

.container {
  width: $container-max-width;
  max-width: 100%;
  margin: auto;
  text-align: left;
}

.section-header {
  margin: $baseline-height*2 auto;

  .header-content {
    width: (($container-max-width - $col-gutter-large*8)*2/3 + $col-gutter-large*4);

    @include for-tablet-landscape-down {
      width: calc((100% - #{$col-gutter-large}*4)*2/3 + #{$col-gutter-large}*2);
    }

    @include for-tablet-portrait-down {
      width: 100%;
    }
  }

  p {
    @include type-intro;
  }
}

.section-body {
  background-color: white;
  color: $color-black;
  padding: $col-gutter-large*2 $col-gutter-large*4;
  margin: 0 auto $baseline-height*10 auto;
  position: relative;

  @include for-tablet-landscape-down {
    padding: $col-gutter-large*2;
  }

  @include for-tablet-portrait-down {
    padding: $col-gutter-large;
  }

  @include for-phone-down {
    padding: $col-gutter-small;
    margin: 0 auto $baseline-height*4 auto;
  };
}

svg.chart-canvas {

  .line-chart {
    path {
      fill: none;
    }

    path, line {
      stroke-width: 2px;
    }

    g.axis {

      text {
        @include type-chart-legend;
        fill: $color-0;
      }

      line {
        stroke: $color-0;
      }

      &.x {
        text {
          letter-spacing: 0;
          word-spacing: -3px;
        }
        path {
          stroke: $color-0;
          stroke-opacity: 0.24;
        }
      }

      &.y {
        path {
          stroke-opacity: 0;
        }
      }
    }

    g.time-series {

      &.empty {
        path.line.disease {
          opacity: 0;
        }
      }

      path.line.disease {
        &:nth-child(1) { stroke: $color-1; }
        &:nth-child(2) { stroke: $color-2; }
        &:nth-child(3) { stroke: $color-3; }
      }
    }
  }
}

.col-left {
  @include columns(2);
}

.charts-container {
  width: 100%;
  display: inline-block;

  .chart-item {
    display: inline-block;
    width: 100%;

    &:not(:first-child) {
      margin-top: $baseline-height*2;
    }
  }
}

.filters-menu {

  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: $baseline-height * 2;
  font-size: 16px;
  line-height: $baseline-height * 3;

  @include for-phone-down {
    font-size: 14px;
    line-height: $baseline-height*2;
  };

  span.sentence {
    vertical-align: top;
    line-height: 24px;
    font-weight: 700;
  }

  .selectize-control {

    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    text-align: center;
    min-height: 28px;

    @include for-phone-down {
      font-size: 14px;
    };

    &.multi {

      .selectize-input {
        padding: 0 $elements-padding*3 0 $elements-padding;
        @include for-phone-down {
          padding-top: 0;
          padding-bottom: 1px;
        };
      }

      .items {
        .item {
          font-weight: 700;
          color: white;
          &:nth-child(1) { background-color: $color-1; }
          &:nth-child(2) { background-color: $color-2; }
          &:nth-child(3) { background-color: $color-3; }
          &:nth-child(4) { background-color: $color-black; }
        }

        // input {
        //   min-width: $elements-margin * 2;
        // }
      }
    }

    .selectize-input {
      border: 0;
      box-shadow: none;
      font-weight: 700;
      border-bottom: 2px solid $color-0;
      border-radius: 0;
      padding: 2px $elements-padding*3 0 $elements-padding;
      font-size: 16px;
      min-height: 28px;

      @include for-phone-down {
        font-size: 14px;
        padding-top: 3px;
        padding-bottom: 1px;
      };

      &:after {
        border-color: $color-0 transparent transparent transparent;
      }
      &.dropdown-active:after {
        border-color: transparent transparent $color-0 transparent;
      }

      .item {
        font-weight: 700;
        color: $color-0;
        margin: 1px 3px 3px 0;
        white-space: nowrap;
      }

      input {
        font-size: 16px;
        @include for-phone-down {
          font-size: 14px;
        };
      }
    }
  }

  .selectize-dropdown {
    min-width: 300px;
    max-width: 100vw;
    @include type-body-1;
    text-align: left;
    font-weight: 400;
    color: $color-0;
    border-radius: 0;
    border: 1px solid #4422B3;
    box-shadow: 0 4px rgba(0, 0, 0, 0.24);
    line-height: 16px;

    @include for-phone-down {
      line-height: 16px;
    };

    .option {
      padding: $baseline-height;
      &.active {
        color: $color-0;
        background-color: lighten($color-0, 48%);
      }
    }
  }

  .terms-list {
    span {
      color: white;
      padding: 2px 6px;
      &:not(:first-child) {
        margin-left: $elements-margin / 2;
      }
      &:nth-child(1) { background-color: $color-1; }
      &:nth-child(2) { background-color: $color-2; }
      &:nth-child(3) { background-color: $color-3; }
      &:nth-child(4) { background-color: $color-black; }
    }
  }

  .geo {
    font-weight: 700;
    color: $color-0;
  }
}

footer {

  color: white;
  padding: 0 $col-gutter-large;

  @include for-phone-down {
    padding: 0 $col-gutter-small;
  };

  .container {
    position: relative;
    z-index: 1;
    min-height: $baseline-height*16;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    @include for-tablet-portrait-down {
      flex-direction: column;
      justify-content: center;
    };

    .website-url {
      font-size: 14px;
      font-family: $font-sans;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-right: $elements-margin*2;

      @include for-tablet-portrait-down {
        margin-right: 0;
        margin-bottom: $baseline-height*2;
      };
    }

    .social-media {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      .fb-share-button {
        margin-left: $elements-margin;
      }
    }
  }
}

/*-------------------- LOADER --------------------*/
.loader-container{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
  background-color: rgba($color-0, 0.24);
  transition: visibility 0.5s, opacity 0.5s linear;
  z-index: 10;

  &.hidden {
    display: block;
    visibility: hidden;
    opacity: 0;
  }

  .loader {
    position: relative;
    top: 50%;
    left: 50%;
    transform-origin: 55% 41%;

    // width: 40px;
    // height: 40px;
    // border: 3px solid black;
    display: inline-block;
    -webkit-animation: rotation 5s; /* Chrome, Safari, Opera */
    animation: rotation 5s;
    -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-iteration-count: infinite;
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rotation {
    from {
      -ms-transform: rotate(0deg); /* IE 9 */
      -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg); /* IE 9 */
      -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
      transform: rotate(360deg);
    }
}
/* Standard syntax */
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
