@import 'App';

#intro.page {

  .page-body {
    padding-top: $baseline-height*12;
    background-color: $color-gray;
  }

  .section-body {

    padding-top: 0;

    .row {

      position: relative;
      max-width: 100%;

      .col-left {
        position: absolute;
        top: 0;
        padding-top: $col-gutter-large + $baseline-height*3;
        @include columns(2);

        @include for-phone-down {
          top: $col-gutter-small;
          padding-top: $col-gutter-small;
        }

        .charts-container.step-1 {
          svg.chart-canvas .line-chart g.time-series path.line.disease {
            &:nth-child(1) { stroke: $color-1; }
            &:nth-child(2) { stroke: $color-1; opacity: 0.48; }
          }
        }
        .charts-container.step-2 {
          svg.chart-canvas .line-chart g.time-series path.line.disease {
            &:nth-child(1) { stroke: $color-1; opacity: 0.48; }
            &:nth-child(2) { stroke: $color-1; }
          }
        }

        .charts-container.step-4 {
          svg.chart-canvas .line-chart g.time-series path.line.disease {
            stroke: rgba($color-1, 0.24);
            &:nth-child(1) {
              stroke: $color-1;
              stroke-width: 3px;
            }
          }
        }
      }

      &.graph-scroll-fixed .col-left {
        position: fixed;

        width: calc((#{$container-max-width} - #{$col-gutter-large}*10) * 2/3 + #{$col-gutter-large});
        max-width: 100%;

        @include for-tablet-landscape-down {
          width: calc((100% - #{$col-gutter-large}*8) * 2/3 + #{$col-gutter-large});
        }

        @include for-tablet-portrait-down {
          width: calc((100% - #{$col-gutter-large}*6) * 2/3 + #{$col-gutter-large});
        }

        @include for-phone-down {
          width: calc(100% - #{$col-gutter-small}*4);
        }
      }

      &.graph-scroll-below .col-left {
        position: absolute;
        top: auto;
        bottom: 0px;
      }

      .slides-container {
        padding-top: $col-gutter-large + $baseline-height*3;
        margin-left: calc((100% - 2*#{$col-gutter-large}) * 2/3 + 2*#{$col-gutter-large});
        width: calc((100% - 2*#{$col-gutter-large}) * 1/3);

        @include for-phone-down {
          width: 100%;
          position: relative;
          margin: 0;
          // padding-top: 50vh;
          z-index: 100;
        }
        .slide {
          width: 100%;
          // padding-bottom: 50vh;
          opacity: 0.3;

          @include for-phone-down {
            opacity: 0.15;
          }

          &.graph-scroll-active{
            opacity: 1;
          }

          .highlight {
            padding: 1px 2px;
            background-color: lighten($color-1, 24%);
          }

          @include for-phone-down {
            width: 100%;

            .content {
              padding: $col-gutter-small;
              border: 1px solid black;
              background-color: white;
            }
          }
        }
      }
    }
  }
}
