@import 'App';

#stories.page {

  .selectize-input {
    min-width: 180px;
  }

  .page-body {
    background-color: darken($color-0, 10%);
  }

  .story-section {

    .section-header {
      color: white;
    }

    .section-body {
      .case-copy {
        @include columns(1);
      }

      .highlight {
        padding: 1px 2px;

        &.term-1 {
          background-color: lighten($color-1, 24%);
        }
        &.term-2 {
          background-color: lighten($color-2, 12%);
        }
        &.term-3 {
          background-color: lighten($color-3, 24%);
        }

      }
    }

    &.epidemics {
      .map .country {
        stroke: #A696DB;
        stroke-width: 1px;
      }

      .legendThreshold .legendCells {
        text {
          @include type-chart-legend;
          letter-spacing: normal;
        }
        .cell rect {
          stroke: #333;
          stroke-width: 0.5px;
        }
      }

      .q0-10 { fill: #ffffff; }
      .q1-10 { fill: #fff5eb; }
      .q2-10 { fill: #fee6ce; }
      .q3-10 { fill: #fdd0a2; }
      .q4-10 { fill: #fdae6b; }
      .q5-10 { fill: #fd8d3c; }
      .q6-10 { fill: #f16913; }
      .q7-10 { fill: #d94801; }
      .q8-10 { fill: #b24600; }
      .q9-10 { fill: #a63603; }
      .q10-10 { fill: #7f2704; }

      .controls {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        .play-button {
          flex-shrink: 0;
          cursor: pointer;
          width: 22px;
          height: 22px;
          display: inline-block;
          margin-right: 20px;
          background-image: url('../images/play.svg');
          background-repeat: no-repeat;
          background-position: center;

          &:hover {
            background-color: lighten($color-0, 52%);
          }

          &:active {
            background-color: lighten($color-0, 48%);
          }

          &.clicked {
            background-image: url('../images/pause.svg');
          }
        }

        input[type="range"] {
          flex-grow: 1;
          -webkit-appearance: none;
          width: 100%;
          margin: 9px 0;
        }
        input[type=range]:focus {
          outline: none;
        }
        input[type=range]::-webkit-slider-runnable-track {
          width: 100%;
          height: 4px;
          cursor: pointer;
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
          background: #d4ccee;
          border-radius: 4px;
          border: 0px solid rgba(0, 0, 0, 0);
        }
        input[type=range]::-webkit-slider-thumb {
          box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
          border: 0px solid rgba(0, 0, 0, 0);
          height: 22px;
          width: 22px;
          border-radius: 11px;
          background: #4422b3;
          cursor: pointer;
          -webkit-appearance: none;
          margin-top: -9px;
        }
        input[type=range]:focus::-webkit-slider-runnable-track {
          background: #e1dbf3;
        }
        input[type=range]::-moz-range-track {
          width: 100%;
          height: 4px;
          cursor: pointer;
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
          background: #d4ccee;
          border-radius: 4px;
          border: 0px solid rgba(0, 0, 0, 0);
        }
        input[type=range]::-moz-range-thumb {
          box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
          border: 0px solid rgba(0, 0, 0, 0);
          height: 22px;
          width: 22px;
          border-radius: 11px;
          background: #4422b3;
          cursor: pointer;
        }
        input[type=range]::-ms-track {
          width: 100%;
          height: 4px;
          cursor: pointer;
          background: transparent;
          border-color: transparent;
          color: transparent;
        }
        input[type=range]::-ms-fill-lower {
          background: #c7bde9;
          border: 0px solid rgba(0, 0, 0, 0);
          border-radius: 8px;
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
        }
        input[type=range]::-ms-fill-upper {
          background: #d4ccee;
          border: 0px solid rgba(0, 0, 0, 0);
          border-radius: 8px;
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
        }
        input[type=range]::-ms-thumb {
          box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
          border: 0px solid rgba(0, 0, 0, 0);
          height: 22px;
          width: 22px;
          border-radius: 11px;
          background: #4422b3;
          cursor: pointer;
          height: 4px;
        }
        input[type=range]:focus::-ms-fill-lower {
          background: #d4ccee;
        }
        input[type=range]:focus::-ms-fill-upper {
          background: #e1dbf3;
        }
      }
    }

    .stories-nav-bar {

      min-height: $baseline-height * 4;
      margin: 0 auto;
      background-color: white;
      border-bottom: 2px solid $color-0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      padding: $elements-padding/2 $elements-padding;

      @include for-phone-down {
        padding-left: $elements-padding
      };

      button {
        cursor: pointer;
        @include type-button;
        display: inline-block;
        padding: $elements-padding/2;
        margin: $elements-margin/4 0;
        color: $color-0;
        border: none;
        background-color: white;
        transition-property: background-color, color;
        transition-duration: 0.25s;
        &:not(:last-child) {
          margin-right: $elements-margin;
        }

        &:hover {
          background-color: lighten($color-0, 48%);
        }

        &.active {
          background-color: $color-0;
          color: white;
        }
      }
    }
  }
}

/* Tooltip */
.d3-tip {
  z-index: 1000;
  max-width: 200px;
  padding: $elements-padding;
  line-height: $baseline-height*1.5;
  background: white;
  border: 1px solid $color-0;
  box-shadow: 0 4px rgba(0, 0, 0, 0.18);
  transform: translate(0, -10%);

  .country {
    @include type-body-1;
    line-height: $baseline-height*1.5;
  }

  .value {
    @include type-body-2;
    line-height: $baseline-height*1.5;
    padding-left: $elements-padding;
    color: $color-0;
  }
}

.legend {
  text {
    @include type-chart-legend;
    fill: $color-0;
  }

  line {
    stroke: $color-0;
  }
}
